<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign up for the   <%= prettyTeamName %>    Slack Team</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/signin/signin.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
